@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'font_comfortaa.css';
@import 'font_ubuntu.css';

.homeDiv {
  background-image: url(assets/images/train_homepage.png);
}

.card-text-container {
  height: 20;
}
